header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    position: fixed;
    width:97.5%;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo img {
    width: auto;
    height: 70px;
    margin-right: 10px;
}

/* Estilo de los formularios */
form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 50px auto;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
